{% extends 'base.html' %} {% block content %}

<h1 class="mt-4 mb-4">About Us</h1>
    <h2 class="mt-4 mb-4">Who We Are</h2>
    <p class="mt-4 mb-4"> 
        Welcome to our job application platform. We aim to connect job seekers
        with their dream opportunities.
    </p>
    </section>
    <section>
    <h2 class="mt-4 mb-4">Our Mission</h2>
    <p class="mt-4 mb-4">
        To simplify the job application process and help employers find the
        best talent.
    </p>
    <footer class="mt-4 mb-4">
        <p>&copy; 2023 Job Application Platform. All rights reserved.</p>
    </footer>
{% endblock %}
